
body{
    background-color:#7b8691 ;
    font-size: 14pt;
    color: white;
}

#div1{
    text-align: right;
    width: 600px;
}

#div2{
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color:#092b4d;
}

p{
    text-align:justify;
    color:white;
} 

h2{
    text-align:center;
    color: rgb(228, 229, 143);
}

h1{
    text-align:center;
    color: rgb(228, 229, 143);
    margin: 10pt;
} 

h4{
    text-align:center;
    color: rgb(228, 229, 143);
} 

h3{
    text-align:center;
    color: rgb(228, 229, 143);
}
 
hr{
    padding: 0.1pt;
}

a{
    color:rgb(255, 163, 50);
 }

a:hover {
    cursor: pointer;
}

#menu {
    color :White;
    font-size: 11pt;
    font-family: arial;
    border-radius: 50px;
    padding: 10px  11px;
    margin-left: 0px;
    background: transparent;
    border-color: yellow;
    border-style: none;
    border-width: 2px;
    text-decoration: none;
}

#menu:hover {
    color:rgb(247, 200, 114);
    background-color: #1172c4;
}

.cls.current {
    border-radius: 50px;
    background: transparent;
    color: red;
}


 
